/access modifier.py
/armstrng.py
/callmd.py
/checkint.py
/demo3.py
/dictionary comprehension.py
/exception handling.py
/extra problems.py
/factfor.py
/factwhile.py
/femi.txt
/femi0
/fhand.txt
/fibanaci.py
/file handling.py
/forloop.py
/funcexmpls.py
/functions.py
/grade.py
/inheritance.py
/input.py
/kwargs.py
/lamdafunction.py
/largest.py
/leapyr.py
/lemondemo.py
/list comprehension.py
/list.py
/listoper.py
/mapfunction.py
/matrix add.py
/md.py
/minipro1.py
/minipro1complete.py
/minipro2.py
/minipro2complete.py
/minipro3.py
/mkdir.py
/modular exmpls.py
/multiplication.py
/object oriented prgm.py
/palindrm_int.py
/palindrom.py
/patternprint.py
/polymorphism.py
/prime.py
/prmfor.py
/prmstr.py
/recepieproject.py
/recipedemo.py
/Recipesbookpro.py
/revstr.py
/string.py
/strngmani.py
/swap.py
/Tic Tac Toe game.py
/tic tacprodemo.py
/tuples.py
/__pycache__